# Visual Studio (Windows Desktop)
.vs/
*.ipch
ipch/
x64/
Release/
Debug/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# CLion / CMake (Mac)
.idea/
cmake-build-*/
CMakeLists.txt

# macOS
.DS_Store

# Build artifacts
*.obj
*.o
*.exe
*.out
*.log
*.tlog
*.idb
*.pdb
*.ilk
