# Ignore Visual Studio IntelliSense cache
*.ipch
ipch/
.vs/
/.vs/Pixapirate/v18/Insiders/ipch/AutoPCH/5e6282daa9243674
*.ipch
.vs/Pixapirate/copilot-chat/5af2bd98/sessions/19692319-6981-4207-adc3-67c0f62c9f0a
.vs/Pixapirate/v18/Insiders/ipch/AutoPCH/15c830f1ec1eadb4/EVENTMANAGER.ipch
.vs/Pixapirate/v18/Insiders/ipch/AutoPCH/5e6282daa9243674/PLAYER.ipch
.vs/Pixapirate/v18/Insiders/ipch/AutoPCH/8653b993406bd548/PIXAPIRATE.ipch
.vs/Pixapirate/v18/Insiders/ipch/AutoPCH/bf83797566e4d390/INPUTMANAGER.ipch
.vs/Pixapirate/v18/Insiders/ipch/AutoPCH/ce90352a67734e9/SPRITESPLITTER.ipch
